/* BAR */
.bar {
  background-color: $bg-1;
  color: $tx-1;
  padding: 2px 8px;
  font-family: "Cascadia Code", "Symbols Nerd Font Mono";
  font-size: 11pt;
}

/* WORKSPACES */
.workspaces {
}

.ws-btn {
  padding: 1px 6px;
  margin: 1px 2px;
  border-radius: 6px;
  background: transparent;
  color: $tx-1;
}

.ws-btn.active {
  background: $ui-3;
  color: $tx-2;
}


/* WINDOW TITLE */
.window-title {
  padding: 0 6px;
}

/* RIGHT MODULES */
.clock,
.speaker-volume,
.power-menu {
  padding: 1px 6px;
  border-radius: 6px;
}

/* GTK CSS, not SCSS */
.recording-icon {
  color: $tx-1;
  background: $red;
  padding: 1px 6px;
  margin: 1px 2px;
  border-radius: 6px;
}

/* RIGHT MODULES */

.timer-button,
.clock-button,
.audio-widget,
.power-menu,
.network-box {
  all: unset;
  padding: 1px 6px;
  border-radius: 6px;
}

// Hover effect for all clickable icons/buttons
.ws-btn:hover,
.clock:hover,
.audio-widget:hover,
.clock-button:hover,
.power-menu:hover,
.network-box:hover {
  background: $hover-bg;
  color: $tx-2;
}
