/* CLIPBOARD */

.clipboard-search {
  all: unset;
  background-color: $ui-1;
  color: $tx-1;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 14px;

  &:focus {
    background-color: $ui-2;
  }
}

.clipboard-row.selected {
  background-color: $ui-2;
}

/* When keyboard-mode is active, do NOT let hover override visuals */
.clipboard-row.kb-mode:hover {
  background-color: unset;
}

/* Optional: make selection a bit more "solid" */
.clipboard-row.selected:hover {
  background-color: $ui-2;
}

.clipboard-window {
  background: unset;
  border: none;
}

.clipboard-overlay {
  all: unset;
  background-color: unset;
}

.clipboard-panel {
  background-color: $osd-bg;
  padding: 16px;
  border-radius: 8px;
  margin: 10px;
  box-shadow: $box-shadow;
  min-width: 480px;
}

.clipboard-header {
  padding-bottom: 8px;
  border-bottom: 1px solid $ui-1;
  margin-bottom: 8px;
}

.clipboard-title {
  font-size: 15px;
  font-weight: 600;
  color: $tx-1;
}

.clipboard-clear {
  all: unset;
  background: transparent;
  color: $tx-3;
  padding: 4px 12px;
  border-radius: 6px;
  font-size: 13px;

  &:hover {
    background: $red;
    color: $bg-1;
  }
}

.clipboard-scroll {
  min-height: 200px;
}

.clipboard-list {
  padding: 4px;
}

.clipboard-row {
  padding: 8px 12px;
  border-radius: 8px;
  margin: 2px 0;
  transition: background 0.15s;

  &:hover {
    background-color: $ui-2;
  }
}

.clipboard-icon {
  color: $cyan;
}

.clipboard-preview {
  color: $tx-1;
  font-size: 14px;
}

.clipboard-delete {
  all: unset;
  padding: 4px;
  border-radius: 6px;
  opacity: 0.6;
  &:hover {
    background: $red;
    opacity: 1;

    icon {
      color: $bg-1;
    }
  }
}

.clipboard-empty {
  color: $tx-3;
  font-size: 14px;
  padding: 40px 20px;
}
