// Flexoki palette

$bg-1: #100f0f;
$bg-2: #1C1B1A;
$osd-bg: rgba(16,15,15,0.95);

$ui-1: #282726;
$ui-2: #343331;
$ui-3: #403E3C;

$tx-1: #CECDC3;
$tx-2: #F2F0E5;
$tx-3: #9F9D96;

$cyan:     #24837B;
$magenta:  #A02F6F;
$red:      #AF3029;
$yellow:   #D0A215;

$foreground: $tx-1;
$background: $bg-1;
$accent:     $ui-3;
$hover-bg:   $ui-2;
