/* In scss/notifications.scss */
.notification-window {
  background: transparent;
  border: none;

  /* Ensure window is only as big as its content */
  & > * {
    background: transparent;
  }
}

/* Main bubble - default */
.notif-box {
  background: $bg-1;
  border: none;
  border-radius: 8px;
  padding: 15px;
  color: $tx-1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
  min-width: 25rem;
  margin: 0.5rem;
}

/* Low urgency */
.notif-low {
  background: $bg-1;
  border-radius: 8px;
  padding: 15px;
  color: $tx-1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
  min-width: 25rem;
  margin: 0.5rem;
}

/* Critical urgency  */
.notif-critical {
  background: $bg-1;
  border: 2px solid $red;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 12px rgba(175, 48, 41, 0.5);
  min-width: 25rem;
  margin: 0.5rem;
}

/* Notification popup dot indicator (replaces icon) */
.notif-popup-dot {
  font-size: 0.6rem;
  line-height: 1;
  padding: 0.25rem;
}

.notif-popup-dot.normal {
  color: $cyan;
}

.notif-popup-dot.critical {
  color: $red;
}

/* Notification title */
.notif-title {
  font-size: 1.1rem;
  font-weight: bold;
  color: $tx-1;
}

.notif-title-critical {
  font-size: 1.1rem;
  font-weight: bold;
  color: $tx-2;
}

/* Notification body */
.notif-body {
  color: $tx-3;
  margin-top: 4px;
}

.notif-body-critical {
  color: $yellow;
  margin-top: 4px;
}

/* Close button */
.notif-close {
  all: unset;
  background: transparent;
  border-radius: 8px;
  padding: 0.25rem;
  transition: background 0.2s;
}

.notif-close:hover {
  background: $ui-2;
}

/* Action buttons */
.notif-action {
  all: unset;
  background: $ui-3;
  color: $tx-1;
  border-radius: 6px;
  padding: 0.4rem 0.75rem;
  transition: background 0.2s;
}

.notif-action:hover {
  background: $ui-2;
  color: $tx-2;
}

.notif-action:active {
  background: $ui-1;
}
