/* ═══════════════════════════════════════════════════════════════
   SETTINGS MANAGER
   ═══════════════════════════════════════════════════════════════ */

.settings-window {
  background: unset;
  border: unset;
}

.settings-overlay {
  all: unset;
  background: unset;
}

.settings-manager {
  background: $bg-1;
  border-radius: 8px;
  margin-top: 320px;
  padding: 12px;
  border: unset;
  min-width: 380px;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.35);
}

.settings-results {
  background: $bg-2;
  border-radius: 8px;
}

.setting-item {
  color: $tx-1;
  background: $bg-2;
  border-radius: 8px;

  &:hover,
  &:focus {
    background: $ui-2;
  }
}

.setting-name {
  font-size: 15px;
  font-weight: 600;
  color: $tx-2;
}

.setting-path {
  font-size: 13px;
  color: $tx-3;
  margin-top: 2px;
}
